<!-- <div class="cstm_image">
	<img src="https://cdn.shopify.com/s/files/1/0587/9149/3802/files/Screenshot_Capture_-_2021-09-04_-_13-51-25.png?v=1630743751">
</div> -->
<div class="product_page_services">
  <div class="product_services_block">
  	<img src="https://cdn.shopify.com/s/files/1/0587/9149/3802/files/np_quality.svg?v=1630411477">
 	<h3>100% High<br>Quality</h3>
  </div>
   <div class="product_services_block">
  	<img src="https://cdn.shopify.com/s/files/1/0587/9149/3802/files/np_usa.svg?v=1630411576">
 	<h3>made<br>in USA</h3>
  </div>
   <div class="product_services_block">
  	<img src="https://cdn.shopify.com/s/files/1/0587/9149/3802/files/np_help.svg?v=1630411440">
 	<h3>24/7 Customer<br>support</h3>
  </div>
   <div class="product_services_block">
  	<img src="https://cdn.shopify.com/s/files/1/0587/9149/3802/files/np_returns.svg?v=1630411508">
 	<h3>90 Day Free<br>Returns</h3>
  </div>
</div>
<style>
.product_page_services {
    display: flex;
    align-items: center;
}

.product_services_block {
    text-align: center;
    margin: 0 15px;
}

.product_services_block h3 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
}
  .cstm_image img {
    width: 100%;
    padding-bottom: 20px;
}
</style>






