<div class="page-width">
  
  {%comment%}
  <div class="cart-upsell" data-rebuy-id="240"></div>
	
  {%endcomment%}
  {% include 'cart-upsell-hardcode' %}
  
  
  
</div>
<style>
div#shopify-section-template--14184298741840__cart-upsell {
    display: inline-block;
    width: 100%;
    clear: both;
}
  .cart-upsell .rebuy-product-block {
    width: 33% !important;
    display: inline-block;
    padding: 20px !important;
}
    .cart-upsell .rebuy-product-grid {
    display: flex !important;
}
  .cart-upsell .rebuy-product-block .rebuy-product-media {
    width: 100% !important;
    display: block;
    text-align: center !important;
}
.cart-upsell .rebuy-product-block .rebuy-product-media img {
    margin: 0 auto !important;
}
  .cart-upsell .rebuy-product-block .rebuy-product-info {
    width: 100% !important;
    text-align: center !important;
}
  .cart-upsell .rebuy-product-block .rebuy-product-actions {
    width: 100% !important;
    margin: 0 auto !important;
    text-align: center !important;
    max-width: 100% !important;
}
  @media(max-width:740px){
    .cart-upsell .rebuy-product-block {
    width: 100% !important;
}
  }
</style>




