<section id="" class="shopify-section spaced-section spaced-section--full-width faq_section">
  <div class="page-width">
    <h2>Have A Question?</h2>
  </div>
</section>  
<section id="" class="shopify-section spaced-section spaced-section--full-width faq_accordion_section">
  <div class="page-width">
    <ul class="faq_accordion">
      <li>
        <h2><a class="faq_toggle" href="javascript:void(0);">Product Q’s</a></h2>
        <div class="faq_inner">
          <div class="faq_inner_block">
          	<h3>Where do you ship to?</h3>
         	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>	
          <div class="faq_inner_block">
         	 <h3>Where do you ship to?</h3>
          	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       	  </div>
        </div>
      </li>
      <li>
        <h2><a class="faq_toggle" href="javascript:void(0);">Ordering & Shipping</a></h2>
       <div class="faq_inner">
          <div class="faq_inner_block">
          	<h3>Where do you ship to?</h3>
         	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>	
          <div class="faq_inner_block">
         	 <h3>Where do you ship to?</h3>
          	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       	  </div>
        </div>
      </li>
      <li>
        <h2><a class="faq_toggle" href="javascript:void(0);">Shipping & Return</a></h2>
        <div class="faq_inner">
          <div class="faq_inner_block">
          	<h3>Where do you ship to?</h3>
         	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>	
          <div class="faq_inner_block">
         	 <h3>Where do you ship to?</h3>
          	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       	  </div>
        </div>
      </li>
      <li>
        <h2><a class="faq_toggle" href="javascript:void(0);">Warranty</a></h2>
       <div class="faq_inner">
          <div class="faq_inner_block">
          	<h3>Where do you ship to?</h3>
         	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>	
          <div class="faq_inner_block">
         	 <h3>Where do you ship to?</h3>
          	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       	  </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section id="" class="shopify-section spaced-section spaced-section--full-width CTA_section">
  <div class="page-width">
 	 <h2>Have a question that isn’t answered above?</h2>
      <div class="CTA_btn">
        <a href="#">contact us</a>
      </div>
  </div>  
</section>  
<style>

</style>

<script>
$('.toggle').click(function(e) {
  	e.preventDefault();
    var $this = $(this);
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
    }
});
</script>

<style>
section.faq_accordion_section {
    padding: 70px 0;
}  
.faq_accordion_section h2 a {
    font-size: 36px;
    color: #0C0404;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: block;
    position: relative;
}
.faq_accordion_section h2 {
    margin: 30px 0;
}
ul.faq_accordion .faq_inner h3 {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    color: #171516;
}

ul.faq_accordion .faq_inner p {
    color: #353640;
}  
.faq_accordion_section h2 a:after {
    content: " ";
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 9px;
    background-image: url(https://cdn.shopify.com/s/files/1/0587/9149/3802/files/faq_np_plus.svg?v=1630874504);
    display: block;
}

.faq_accordion_section h2 a.faq_toggle_open:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0587/9149/3802/files/faq_np_close.svg?v=1630874538);
    width: 43px;
    height: 43px;
    top: 1px;
}  
section.CTA_section {
    background-color: #F5F5F5;
    padding: 7% 0;
}

section.CTA_section h2 {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #0B163B;
    width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 60px;
}

section.CTA_section .CTA_btn a {
    background-color: #FB9AA5;
    color: #fff;
    padding: 13px 45px;
    border-radius: 41px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

section.CTA_section .CTA_btn {
    text-align: center;
}

section#footer_above_section {
    margin-top: 0;
}  
</style>
