.cf-bestSellers-badge {
	display: none;
}

@media only screen and (min-width: 768px) {
  .cf-bestSellers-badge {
    background-color: #fad3d2;
    display: -ms-grid;
    display: grid;
    margin: auto;
    place-content: center;
    font-family: Calluna;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #454545;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 125px;
    height: 26px;
    padding: 5px 0 4px;
  }
}