.contact img {
  max-width: 100%;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact_form_wrapper .right_col {
    padding-left: 50px;
    min-width: 70%;
}
.contact_form_wrapper .right_col .spaced-section {
    margin-top: 1rem;
}
.contact_form_wrapper .right_col .main-page-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact_form_wrapper .left_col img {
	object-fit: cover;
}
.page-width.page-width--narrow .main-page-title.page-title.h0 {
	display: none;
}
.contact_us_link a {
  position: relative;
  font-size: 12px;
  color: #373e46;
  padding-left: 20px;
  font-weight: 500;
}
.contact_us_link a:before {
  content: ' ';
  background-image: url(https://cdn.shopify.com/s/files/1/0587/9149/3802/files/np_call_2543948_000000.svg?v=1629139869);
  width: 17px;
  height: 17px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -4px;
  top: -2px;
}
.contact_us_notes p {
  font-size: 12px;
  line-height: 18px;
}
.contact_us_notes {
  margin-top: 25px;
}
.contact__button .button[type="submit"] {
    border-radius: 50px;
    font-size: 15px;
    min-width: 14rem;
    min-height: 3.5rem;
    background-color: #51ba86;
    box-shadow: none;
}